@import '../../../../assets/sass/themaMaterial';

:host {
    font-family: $font-titulo;
    color: mat-color($mat-mdias, 500);
    font-size: 1.5rem;
    display: block;
    padding: 0 16px;
    width: calc(100% + 32px);
    border-bottom: 2px solid  mat-color($mat-mdias, 500);
    margin: 0 -16px;
    line-height: 50px;
    margin-top: -10px !important;
    margin-bottom: 16px;
}