<mdias-container nomeDaPagina="Outra pagina" icone="search">
  <mdias-wizard [itemAtivo]="itemAtivo">
    <mdias-wizard-item titulo="XPTO">
        <mdias-col l=12 m=12>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean nec sagittis enim. Nam consequat aliquam turpis et volutpat. 
            Maecenas faucibus leo ante, sit amet aliquet enim vulputate molestie. 
            Aliquam sed venenatis enim, et blandit leo. Pellentesque ut justo a urna tempor consequat. 
            Phasellus vitae facilisis sem, a placerat mauris. Suspendisse id auctor arcu, nec vehicula odio. 
            Pellentesque ut arcu eget lectus ullamcorper gravida et ut erat. 
            Suspendisse scelerisque enim eget ipsum fermentum, vel volutpat ipsum imperdiet. 
            
            Quisque sit amet mauris urna. Maecenas cursus congue eros, sit amet molestie nulla fermentum ac. 
            Proin varius lacinia arcu, eget tristique libero sollicitudin quis. Suspendisse porta in nulla ac dictum. 
            Cras dapibus lacus at congue vulputate. Sed eget risus eget augue dictum porttitor vitae eu ex.
        </mdias-col>
    </mdias-wizard-item>
    <mdias-wizard-item titulo="LOREM">
        <mdias-col l=12 m=12>
            Maecenas molestie imperdiet tortor. Integer egestas,
             erat ut rutrum hendrerit, massa nisl convallis risus, 
             lacinia mollis nulla arcu non justo. Sed porta sollicitudin nunc, 
             consequat mollis purus ornare non. Ut vestibulum dui faucibus, 
             convallis nulla vel, porttitor est. Integer eu tincidunt velit. 
             Fusce tristique fringilla interdum. Nunc a euismod neque, ac porta elit.
          </mdias-col>
    </mdias-wizard-item>
    <mdias-wizard-item titulo="IPSON">
        <mdias-col l=12 m=12>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aenean nec sagittis enim. Nam consequat aliquam turpis et volutpat. 
            Maecenas faucibus leo ante, sit amet aliquet enim vulputate molestie. 
            Aliquam sed venenatis enim, et blandit leo. Pellentesque ut justo a urna tempor consequat. 
            Phasellus vitae facilisis sem, a placerat mauris. Suspendisse id auctor arcu, nec vehicula odio. 
            Pellentesque ut arcu eget lectus ullamcorper gravida et ut erat. 
            Suspendisse scelerisque enim eget ipsum fermentum, vel volutpat ipsum imperdiet. 
            
            Quisque sit amet mauris urna. Maecenas cursus congue eros, sit amet molestie nulla fermentum ac. 
            Proin varius lacinia arcu, eget tristique libero sollicitudin quis. Suspendisse porta in nulla ac dictum. 
            Cras dapibus lacus at congue vulputate. Sed eget risus eget augue dictum porttitor vitae eu ex.
        </mdias-col>
    </mdias-wizard-item>
    <mdias-wizard-item titulo="OTPX">
        <mdias-col l=12 m=12>
          Maecenas molestie imperdiet tortor. Integer egestas,
            erat ut rutrum hendrerit, massa nisl convallis risus, 
            lacinia mollis nulla arcu non justo. Sed porta sollicitudin nunc, 
            consequat mollis purus ornare non. Ut vestibulum dui faucibus, 
            convallis nulla vel, porttitor est. Integer eu tincidunt velit. 
            Fusce tristique fringilla interdum. Nunc a euismod neque, ac porta elit.
        </mdias-col>
    </mdias-wizard-item>
</mdias-wizard>
</mdias-container>















